@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    height: 100vh;
    background-color: red;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}